/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 mar 2024, 9:05:46
    Author     : DAM116
*/

body {
    background-color: pink;
}
h1 {
    color: blue;
}